h1{
    text-align: center;
    padding-top: 30px;
    font-size: 50px;
    font-family: 'Arvo';
}
body{
    background-image: url(../rain-on-me/snapshots/rain-on-me.jpg);
    background-size: cover;
}
h3{
    text-align: center;
    color: white;
    font-family: 'roboto';
}
p{
    text-align: center;
    font-family: 'Raleway';
}
}
#alert{
    text-align: center;
}
#btn{
    padding: 10px 30px 10px 30px;
    border: 1px solid black;
    text-align: center;
    width: 200px;
    margin: 0 auto;
    float: none;
}
#btn:hover{
    background-color: rgba(0,0,0,.4);
    color: white;
    border-radius: 5px;
}
#url{
    text-align: center;
}
.dashboard{
    width: 600px;
    height: auto;
    margin: 0 auto;
    float: none;
    padding: 30px;
    background: rgba(0,0,0,.3);
    border-radius: 5px;
}
.top-child{
    margin: 0 auto;
    float: none;
    display: inline-block;
    align-content: center;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    padding: 10px;
    
}
.top-child p{
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-top: -10px;
    
}
.top-parent{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    height: 150px
}
.bottom-child{
    display: inline-block;
    justify-content: center;
    align-content: center;
    align-items: stretch;
    width: 100%;
    margin: 0 auto;
    float: none;
    padding: 10px;
}
.bottom-parent{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    height: 150px;
}
.bottom-child p{
    font-size: 20px;
    margin-top: -10px;
}
.one{
    background-color: rgba(83,170,154,.6);
    border: rgb(11,78,109);
    
}
.two{
    background-color: rgba(1,108,125,.6);
    border: rgb(196,54,139);
    
}
/* This is the video background CSS */

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
    background-size: cover;
}